.app {
  text-align: center;
  background-color: #199FFF;

  * {
    box-sizing: border-box;
  }
}

.ui {
  position: absolute;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

.results {
  float: right;
  color: white;
  position: relative;
  width: 100%;
  /* list-style: none; */
  padding: 0;

  li {
    position: absolute;
    bottom: 0;
    right: 7px;
    width: 4em;
    text-align: right;
    text-transform: capitalize;
  }

  .result {
    font-size: 50px;
    margin: 0 auto;
    display: block;
    position: relative;
    text-align: center;
  }
}

.button {
  clear: both;
  float: right;
  width: 9em;
  height: 5em;
  border-radius: 3em;
  display: block;
  background: #222;
  border-style: none;
  color: #FEFEFE;
  font-size: 1em;
  text-transform: uppercase;

  &:focus, &:hover {
    background: #444;
    outline: none;
  }

  &:active {
    background: #666;
  }

  span {
    display: block;
    font-size: 0.6em;
    font-weight: 300;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
