.app {
  position: relative;
  text-align: center;
  background-color: #199FFF;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.ui {
  position: absolute;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

.results {
  float: right;
  color: white;
  position: relative;
  width: 100%;
  /* list-style: none; */
  padding: 0;

  li {
    position: absolute;
    bottom: 0;
    right: 7px;
    width: 3em;
    text-align: right;
    text-transform: capitalize;
  }

  .result {
    font-size: 50px;
    margin: 0 auto;
    display: block;
    position: relative;
    text-align: center;
  }
}

.button {
  clear: both;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  height: 5em;
  border-radius: 3em;
  display: block;
  background: #222;
  border-style: none;
  color: #FEFEFE;
  font-size: 1em;
  text-transform: uppercase;

  &:focus, &:hover {
    background: #444;
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    background: #666;
  }

  span {
    margin: 5px;
    bottom: 1px;
    font-size: .7em;
    font-weight: 300;
    font-family: serif;
    position: relative;
    font-style: italic;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
