.app {
  text-align: center;
  background-color: #199FFF;
}

.ui {
  position: absolute;
  padding: 10px;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.button {
  float: right;
  width: 9em;
  height: 5em;
  border-radius: 3em;
  display: block;
  background: #222;
  border-style: none;
  color: #FEFEFE;
  font-size: 1em;
  text-transform: uppercase;
  border-bottom: 5px solid #555;

  &:focus, &:hover {
    background: #444;
    outline: none;
  }

  &:active {
    background: #666;
  }

  span {
    display: block;
    font-size: 0.6em;
    font-weight: 300;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
